*{
    margin: 0px;
    padding: 0px;
}

header div img{
    width: 8%;
}

header{

}

#cabecera{
    background-image: url("./imagenes/OPSEG70.jpg");
    background-repeat: initial;
    width: 100%;
    height: 20px;
}

.header-text{
    display: inline-block;
}