*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Myriad_Pro ;
    src: url(./extra/MyriadProBlackSemiExtendedItalic.otf);
}

header div img{
    width: 25%;
}

header{
    
}

#cabecera{
    background-image: url("./imagenes/OPSEG70.jpg");
    background-repeat: initial;
    width: 100%;
    display: flex;
    
    
}

.header-text, .header-img{
    width:50%;
}